@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Sans|Work+Sans");
* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    /*font-family: gitbook-code-font, Menlo, monospace;*/
    font-weight: 500;
    font-size: 16px;
    color: #15181d;
    line-height: 1.6;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}
.navbar-brand {
    font-size: 2em;
    color: #f8520c;
    text-decoration: none;
    white-space: nowrap;
}
.navbar-brand:hover, .navbar-brand:focus {
    font-size: 2em;
    color: #f8520c;
    text-decoration: none;
    white-space: nowrap;
}


.btn-outline-theme:hover, .btn-outline-theme:focus {
    font-size: 0.8em;
    color: #ffffff;
    background: #f8520c;
    text-decoration: none;
    white-space: nowrap;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.mutted{
    color: #6f6f6f;
}
.btn-outline-theme{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    background-color: #ffffff;
    line-height: 0.66em;
    color: #f8520c;
    border: 2px solid #fb5e1c;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 12px;
    font-size: 13px;

}

.bg-orange-30:before {
    content: "";
    position: absolute;
    background: rgba(248, 82, 12, 0.6);
    top: 0;
    right: 10%;
    left: 30%;
    width: 30%;
    height: 120%;
    z-index: -1;
}
.mcp {
    color: #f8520c;
    font-weight: 900;
    font-size: 150%;

}
/**********************************/
.line-chart {
    animation: fadeIn 600ms cubic-bezier(.57,.25,.65,1) 1 forwards;
    opacity: 0;
    max-width: 640px;
    width: 100%;
}

.aspect-ratio {
    height: 0;
    padding-bottom: 50%; // 495h / 990w
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
/*********************************************/
.smaller{
    font-size: 70%;
}
.active:hover{
    background: rgba(248, 82, 12, 0.24);
    cursor: pointer;
}

.not-active:hover{
    background: rgba(119, 116, 116, 0.2);
}
.border-bottom-orange{
    border-bottom: 1px solid rgb(248, 82, 12);
}

.is_main_container
{
    font-family: gitbook-code-font, Menlo, monospace;
}
